bin/
build/
source/assets
log/

assets/whale/*.png
assets/enemy/*.png
assets/background/*.png
assets/text/*.png
assets/weapons/*.png
assets/misc/*.png
assets/obstacles/*.png
assets/game_intro/*.png
assets/title_screen/*.png

assets/out.png
__debug_bin

mus_edit/

backgrounds_out.png
objects_out.png
version.png

act/
.actrc